h1 {
    /* color: red; */
}

.logo > img{
  width: 200px;
  height: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.house-display > img{
    height: 100%;
    width: 100%;
}

.box-house {
    width: 33%;
    /* border: 5px solid red; */
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.button {
  width: 10em;
  text-align: center;
  font-weight: bold;
  padding: 1em 2em;
  background: DEEPPINK;
  border-radius: 3em;
  color: white;
  cursor: pointer;
}

.one > div {
  width: 20em;
  border: 2px solid black;
  padding: 1em 2em;
  position: fixed;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  z-index: 3;
  box-shadow: 10px 10px 10px DIMGRAY;
}

.one[open] summary::after { 
  content: "×"; 
  font-size: 28pt;  
  position: fixed; 
  /* right: calc(50vw - 360px / 2 - 2em); 
  top:  calc(50vh - 240px / 2 - 2em); */
  padding: 5pt 10pt;
  z-index: 9;
  overflow-y: auto;
}

.one[open] summary::before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

li {
    list-style-type: none;
}